@keyframes slideInUp {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

.page {
    width: 200px;
    height: 200px;
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    background-color: green;
}

.page.ng-enter {
    animation: slideInRight 1.5s both ease-in;
    -webkit-animation: slideInRight 0.5s both ease-in;
    z-index: 8888;
}

.page.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
}
